<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="root-text-sm">

    <meta charset="UTF-8" />
    <title>Board</title>
    <meta name="description" content="Board">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">

    <!-- 공통 CSS -->
    <link rel="stylesheet" media="screen, print" th:href="@{/css/normalize.css}">
    <link id="vendorsbundle" rel="stylesheet" media="screen, print" th:href="@{/css/vendors.bundle.css}">


    <!-- 컨텐츠 CSS 영역 -->
    <th:block layout:fragment="css"></th:block>


    <body>

    <!-- BEGIN Page Content -->
    <main layout:fragment="content"></main>

    <!-- BEGIN Page Footer -->
    <footer th:replace="fragments/footer :: footerFragment"></footer>
    <!-- END Page Footer -->

    <!-- 공통 js -->
    <script th:src="@{/js/app.bundle.js}"></script>
    <script th:src="@{/js/datagrid/datatables/datatables.bundle.js}"></script>
    <script th:src="@{/js/datagrid/datatables/datatables.default.setting.js}"></script>

    <!-- Context Path -->
    <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
    <script type="text/javascript">
        var CONTEXT_PATH = document.getElementById("contextPathHolder").getAttribute("data-contextPath") ? document.getElementById("contextPathHolder").getAttribute("data-contextPath") : '';

        function jqXHR_Process(jqXHR){
            if (jqXHR.status === 901) {
                location.replace("/login");

            }else if (jqXHR.status === 902) {
                console.log(jqXHR.responseText);
                alert("처리시 오류가 발생하였습니다.");
                return false;
            }
            else if (jqXHR.status === 404)
            {
                alert("페이지가 존재하지 않습니다.");
                return false;
            }
            else if (jqXHR.status === 500)
            {
                alert("처리시 오류가 발생하였습니다."); // 시스템에 문제가 발생하였습니다. 관리자에게 문의하세요.
                return false;
            }
        }
    </script>

    <!-- 컨텐츠 스크립트 영역 -->
    <th:block layout:fragment="script"></th:block>


    </body>
</html>