<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vdc.board.repository.interfaces.BoardMapper">

    <select id="getTestData" parameterType="hashmap" resultType="hashmap">
        CALL USP_Test_Board(#{dept})
    </select>


</mapper>