<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vdc.board.repository.interfaces.BoardMapper">

    <select id="getAgentStatus" parameterType="hashmap" resultType="hashmap">
        CALL USP_Test_Board_AgentStatus_Grant(#{dept})
    </select>

    <select id="getQueueRealTime" parameterType="hashmap" resultType="hashmap">
        CALL USP_Test_Board_QueueRealTime_Grant(#{dept})
    </select>

    <select id="getQueueCumulativeRate" parameterType="hashmap" resultType="hashmap">
        CALL USP_Test_Board_QueueCumulative_Rate_Grant(#{dept})
    </select>

    <select id="getUserRealTime" parameterType="hashmap" resultType="hashmap">
        CALL USP_Test_Board_UserRealTime_State(#{dept})
    </select>

</mapper>