<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- meta tag start -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <!-- meta tag end -->

    <!-- title -->
    <title>Home</title>

    <!-- 외부 css start -->
    <link rel="stylesheet" media="screen, print" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/bootstrap.min.css}">
    <!-- 외부 css end -->

    <!-- 내부 css -->
    <link rel="stylesheet" media="screen, print" th:href="@{/css/board.css}">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/job-call.css}">

    <!-- 외부 script start -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- 외부 script end -->

    <link th:replace="fragments/common-fragment.html :: context-path">

    <!-- 내부 script start -->
    <script type="text/javascript" th:inline="javascript">
        const CONTEXT_PATH = document.getElementById("contextPathHolder").getAttribute("data-contextPath") ? document.getElementById("contextPathHolder").getAttribute("data-contextPath") : '';

        let timeout = '';

        /*<![CDATA[*/
        let dept = /*[[ ${dept} ]]*/;
        /*]]*/

        (function poll() {
            $.ajax({
                url: CONTEXT_PATH + '/getJobCall',
                method: 'GET',
                data : { "dept": dept },
                cache: false,
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    let num = 0;
                    data.data.forEach(element => {
                        for (const elementKey in element) {
                            console.log(elementKey + '_' + num + ':' + element[elementKey]);
                            $('#' + elementKey + '_' + num).text(element[elementKey]);
                        }
                        num++;
                    });
                },
                timeout: 3000,
                complete: timeout = setTimeout(function() {
                    poll();
                }, 5000)

            })
        })();

        $(window).on('beforeunload', function() {
            clearTimeout(timeout);
        });

    </script>
    <!-- 내부 script end -->
    
</head>

<body>
    <!-- header start -->
    <header id="title" th:style="'background-image: url(' + @{/img/} + ${season} + '.jpg);'">
        업무별 콜 응대 현황
    </header>
    <!-- header end -->

    <!-- section start -->
    <section th:class="${season}">
        <div class="contents container-fluid" th:with="jobCallConst = ${T(com.vdc.board.common.enums.JobCallConst).values()}">
            <div class="row r1">
                <div class="col-xs-2 subject w2"
                     th:style="${'background-color: ' + season.getColor() + ';'}"
                     th:text="'구 분'">

                </div>
                <div class="col-xs-2" th:each="value : ${jobCallConst}">
                    <div th:style="${'background-color: ' + season.getColor() + ';'}"
                         th:class="'subject col_title'"
                         th:text="${value.getColTitle()}"></div>
                </div>
            </div>

            <div class="row r2" th:each="jobCallRecordConst : ${T(com.vdc.board.common.enums.JobCallRecordConst).values()}">
                <div th:style="${jobCallRecordConstStat.index > 0 ? 'background-color: ' + season.getColor() + ';' : ''}"
                     th:class="${'col-xs-2 subject w' + jobCallRecordConst.getRecTitle().replace(' ', '').length}"
                     th:classappend="${jobCallRecordConstStat.index == 0 ? season.toString() + '_all' : ''}"
                     th:text="${jobCallRecordConst.getRecTitle()}"></div>
                <div class="col-xs-2"
                     th:each="value : ${jobCallConst}">
                    <th:block th:switch="${value.getKey()}">
                        <div th:case="AnswerRate" class="value" th:id="${value.getKey() + '_' + jobCallRecordConstStat.index}">0.00%</div>
                        <div th:case="ServiceLevel" class="value" th:id="${value.getKey() + '_' + jobCallRecordConstStat.index}">0.00%</div>
                        <div th:case="*" class="value" th:id="${value.getKey() + '_' + jobCallRecordConstStat.index}">0</div>
                    </th:block>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- footer start -->
    <footer></footer>
    <!-- footer end -->
</body>

</html>
