<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- meta tag start -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <!-- meta tag end -->

    <!-- title -->
    <title>Home</title>

    <!-- 외부 css start -->
    <link rel="stylesheet" media="screen, print" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/bootstrap.min.css}">
    <!-- 외부 css end -->

    <!-- 내부 css -->
    <link rel="stylesheet" media="screen, print" th:href="@{/css/board.css}">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/job-call.css}">
    
</head>

<body>
    <!-- header start -->
    <header id="title" th:style="${'background-image: url(../img/' + season + '.jpg);'}">
        업무별 콜 응대 현황
    </header>
    <!-- header end -->

    <!-- section start -->
    <section th:class="${season}">
        <div class="contents container-fluid" th:with="jobCallConst = ${T(com.vdc.board.common.enums.JobCallConst).values()}">
            <div class="row r1">
                <div class="col-xs-2" th:each="value : ${jobCallConst}">
                    <div th:style="${'background-color: ' + season.getColor() + ';'}"
                         th:class="'subject ' + ${valueStat.index == 0 ? 'w2' : 'col_title'}"
                         th:text="${value.getColTitle()}"></div>
                </div>
            </div>

            <div class="row r2" th:each="data : ${jobCallInfoList}">
                <div class="col-xs-2" th:each="value : ${jobCallConst}">
                    <div th:class="${valueStat.index == 0 ? 'subject w' + data.get('title').replace(' ', '').length : 'value'}"
                         th:style="${(valueStat.index == 0 && dataStat.index != 0) ? 'background-color: ' + season.getColor() + ';' : ''}"
                         th:classappend="${(dataStat.index == 0 && valueStat.index == 0) ? season.toString() + '_all' : ''}" th:text="${data.get(value.getKey())}"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- footer start -->
    <footer></footer>
    <!-- footer end -->

    <!-- 외부 script start -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- 외부 script end -->

    <!-- 내부 script start -->
    <script>

    </script>
    <!-- 내부 script end -->
</body>

</html>
