<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/team-call.css}">
</th:block>

<!-- section start -->
<section layout:fragment="content" th:class="${season}">
    <div class="contents container-fluid" th:with="teamCallConst = ${T(com.vdc.board.common.enums.TeamCallConst).values()}">
        <div class="row" th:each="row : ${#numbers.sequence(0,4,2)}">
            <div class="col-xs-6 bundle" th:each="num : ${#numbers.sequence(0,1)}">
                <div class="row">
                    <div class="col-xs-5">
                        <div th:class="${'subject w' + teamCallConst[row + num].getTitle().replace(' ', '').length()}"
                             th:text="${teamCallConst[row + num].getTitle()}"
                             th:style="${'background-color: ' + season.getColor() + ';'}"></div>
                    </div>
                    <div class="col-xs-7">
                        <th:block th:switch="${teamCallConst[row + num].getKey()}">
                            <div th:case="AnswerRate" class="value threshold" th:id="${teamCallConst[row + num].getKey()}">0.00%</div>
                            <div th:case="WaitCalls" class="value threshold" th:id="${teamCallConst[row + num].getKey()}">0</div>
                            <div th:case="ServiceLevel" class="value" th:id="${teamCallConst[row + num].getKey()}">0.00%</div>
                            <div th:case="*" class="value" th:id="${teamCallConst[row + num].getKey()}">0</div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>

        <div class="under_box">
            <div class="under_title">
                <span id="dot">●</span> 개인별 실적 [응대호기준]<span id="last_words">기준</span>
            </div>

            <div class="row" th:each="row : ${#numbers.sequence(0,16,4)}">
                <div class="col-xs-3" th:each="num : ${#numbers.sequence(0,3)}">
                    <div class="row value">
                        <div class="col-xs-7 name">
                            <span th:id="${'Emp_Nm_' + (row + num)}"></span>
                        </div>
                        <div class="col-xs-5 count">
                            <span th:id="${'Handled_' + (row + num)}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->

<th:block layout:fragment="script">
    <script type="text/javascript" th:inline="javascript">

        /*<![CDATA[*/
        let dept = /*[[ ${dept} ]]*/;
        /*]]*/

        /*<![CDATA[*/
        let wc = /*[[ ${wc} ]]*/;
        /*]]*/

        /*<![CDATA[*/
        let ar = /*[[ ${ar} ]]*/;
        /*]]*/

        $(function () {
            (function poll() {
                $.ajax({
                    url: CONTEXT_PATH + '/getTeamCall',
                    method: 'GET',
                    data : { "dept": dept },
                    cache: false,
                    dataType: 'json',
                    success: function(data) {
                        // console.log(data);

                        for (const key in data.data1) {
                            // console.log(key + ':' + data.data1[key]);

                            // AnswerRate:36.1% | WaitCalls:27
                            if (key == 'WaitCalls' || key == 'AnswerRate') {
                                $('#' + key).removeClass('threshold');

                                if (key == 'AnswerRate') {
                                    let ar_value;
                                    if (data.data1[key].indexOf('.') > -1) {
                                        ar_value =data.data1[key].split('.')[0];
                                    } else {
                                        ar_value = data.data1[key].replace('%', '');
                                    }

                                    if (ar > Number(ar_value)) {
                                        $('#' + key).addClass('threshold');
                                    }
                                    // const ar_value = data.data1[key].split('.');
                                    // if (ar > Number(ar_value[0])) {
                                    //     $('#' + key).addClass('threshold');
                                    // }
                                    // console.log(`ar = ${ar} | ${data.data1[key]}`);
                                } else {
                                    if (wc < Number(data.data1[key])) {
                                        $('#' + key).addClass('threshold');
                                    }
                                    // console.log(`wc = ${wc} | ${data.data1[key]}`);
                                }
                            }

                            $('#' + key).text(data.data1[key]);
                        }

                        let num = 0;
                        data.data2.forEach(element => {
                            for (const elementKey in element) {
                                console.log(elementKey + '_' + num + ':' + element[elementKey]);
                                $('#' + elementKey + '_' + num).text(element[elementKey]);
                            }
                            num++;
                        });
                    },
                    timeout: 3000,
                    complete: timeout = setTimeout(function() {
                        poll();
                    }, 5000)

                })
            })();
        });

    </script>
</th:block>

</html>
