<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- meta tag start -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <!-- meta tag end -->

    <!-- title -->
    <title>Home</title>

    <!-- 외부 css start -->
    <link rel="stylesheet" media="screen, print" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/vendors.bundle.css}">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/fa-solid.css}">
    <!-- 외부 css end -->

    <!-- 내부 css -->
    <link rel="stylesheet" media="screen, print" th:href="@{/css/board.css}">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/team-counselor.css}">

</head>

<body>
    <!-- header start -->
    <header id="title" th:style="${'background-image: url(../img/' + season + '.jpg);'}">
        상담원 상태 현황(고객지원센터2팀)
    </header>
    <!-- header end -->

    <!-- section start -->
    <section th:class="${season}">
        <div class="contents container-fluid">
            <div class="row">
                <div class="col-xs-2" th:each="value : ${T(com.vdc.board.common.enums.TeamCounselorFirstConst).values()}">
                    <div th:class="${'subject w' + value.getTitle().replace(' ', '').length()}"
                         th:text="${value.getTitle()}"
                         th:style="${'background-color: ' + season.getColor() + ';'}"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2" th:each="value : ${T(com.vdc.board.common.enums.TeamCounselorFirstConst).values()}">
                    <div class="value" th:text="${not #strings.isEmpty(queueRealTime.get(value.getKey())) ? queueRealTime.get(value.getKey()) : '0'}"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-2" th:each="value : ${T(com.vdc.board.common.enums.TeamCounselorSecondConst).values()}">
                    <div th:class="${'subject w' + value.getTitle().replace(' ', '').length() + ' sub' + valueStat.count}" th:text="${value.getTitle()}"></div>
                </div>
                <div class="col-xs-1"></div>
            </div>

            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-2" th:each="key : ${T(com.vdc.board.common.enums.TeamCounselorSecondConst).values()}">
                    <div class="value" th:text="${not #strings.isEmpty(agentStatus.get(key.toString())) ? agentStatus.get(key.toString()) : '0'}"></div>
                </div>
                <div class="col-xs-1"></div>
            </div>

            <div class="under_box">
                <div class="row" th:each="row : ${#numbers.sequence(0,16,4)}">
                    <div class="col-xs-3" th:each="num : ${#numbers.sequence(0,3)}">
                        <div class="row value">
                            <div class="col-xs-2 img" th:if="${userRealTime.size() > (row + num)}" th:with="state = ${T(com.vdc.board.common.enums.CounselorState).valueOf(userRealTime.get(row + num).get('State'))}">
                                <span class="fa-stack fa-lg">
<!--                                    <i th:class="${'fas fa-square fa-stack-2x ' + stateColorMap.get(userRealTime.get(row + num).get('State'))}"></i>-->
<!--                                    <i th:class="${'fal ' + stateIconMap.get(userRealTime.get(row + num).get('State')) + ' fa-stack-1x icon'}"-->
<!--                                       th:classappend="${userRealTime.get(row + num).get('State') == 'off' ? 'text-danger' : 'text-white'}"></i>-->
                                    <i th:class="${'fas fa-square fa-stack-2x ' + state.getColor()}"></i>
                                    <i th:class="${'fal ' + state.getIcon() + ' fa-stack-1x icon'}"
                                       th:classappend="${userRealTime.get(row + num).get('State') == 'off' ? 'text-danger' : 'text-white'}"></i>
                                </span>
                            </div>
                            <div class="col-xs-5 name" th:if="${userRealTime.size() > (row + num)}">
                                <span th:if="${userRealTime.size() > (row + num)}" th:text="${userRealTime[row + num].get('Emp_Nm')}"></span>
                            </div>
                            <div class="col-xs-5 count" th:if="${userRealTime.size() > (row + num)}">
                                <span th:if="${userRealTime.size() > (row + num)}" th:text="${userRealTime[row + num].get('CurrentActTime')}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- section end -->

    <!-- footer start -->
    <footer></footer>
    <!-- footer end -->

    <!-- 외부 script start -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- 외부 script end -->

    <!-- 내부 script start -->
    <script>

    </script>
    <!-- 내부 script end -->
</body>

</html>
