<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="common_css">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/vendors.bundle.css}">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/fa-solid.css}">
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/team-counselor.css}">
</th:block>

<!-- section start -->
<section layout:fragment="content" th:class="${season}">
    <div class="contents container-fluid">
        <div class="row">
            <div class="col-xs-2" th:each="value : ${T(com.vdc.board.common.enums.TeamCounselorFirstConst).values()}">
                <div th:class="${'subject w' + value.getTitle().replace(' ', '').length()}"
                     th:text="${value.getTitle()}"
                     th:style="${'background-color: ' + season.getColor() + ';'}"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2" th:each="value : ${T(com.vdc.board.common.enums.TeamCounselorFirstConst).values()}">
                <div
                     th:class="${(value.getKey() == 'AnswerRate' || value.getKey() == 'WaitCalls') ? 'value threshold' : 'value'}"
                     th:id="${value.getKey()}"
                     th:text="${(value.getKey() == 'AnswerRate' || value.getKey() == 'ServiceLevel') ? '0.00%' : '0'}"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2" th:each="value : ${T(com.vdc.board.common.enums.TeamCounselorSecondConst).values()}">
                <div th:class="${'subject w' + value.getTitle().replace(' ', '').length() + ' sub' + valueStat.count}"
                     th:text="${value.getTitle()}"></div>
            </div>
            <div class="col-xs-1"></div>
        </div>

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2" th:each="key : ${T(com.vdc.board.common.enums.TeamCounselorSecondConst).values()}">
                <div class="value" th:id="${key}">0</div>
            </div>
            <div class="col-xs-1"></div>
        </div>

        <div class="under_box">
            <div class="row" th:each="row : ${#numbers.sequence(0,16,4)}">
                <div class="col-xs-3" th:each="num : ${#numbers.sequence(0,3)}">
                    <div class="row value">
                        <div class="col-xs-2 img">
                                <span class="fa-stack fa-lg">
                                    <i th:id="${'color_' + (row + num)}"></i>
                                    <i th:id="${'icon_' + (row + num)}"></i>
                                </span>
                        </div>
                        <div class="col-xs-5 name">
                            <span th:id="${'Emp_Nm_' + (row + num)}"></span>
                        </div>
                        <div class="col-xs-5 count">
                            <span th:id="${'TimeInState_' + (row + num)}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- section end -->

<th:block layout:fragment="script">
    <script type="text/javascript" th:inline="javascript">

        const stateColorClassCommon = 'fas fa-square fa-stack-2x';
        const stateIconClassCommon = 'fal fa-stack-1x icon text-white';

        /*<![CDATA[*/
        let dept = /*[[ ${dept} ]]*/;
        /*]]*/

        /*<![CDATA[*/
        let wc = /*[[ ${wc} ]]*/;
        /*]]*/

        /*<![CDATA[*/
        let ar = /*[[ ${ar} ]]*/;
        /*]]*/

        $(function () {
            (function poll() {
                $.ajax({
                    url: CONTEXT_PATH + '/getTeamCounselor',
                    method: 'GET',
                    data: {"dept": dept},
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);

                        for (const key in data.data1) {
                            // console.log(key + ':' + data.data1[key]);

                            // AnswerRate:36.1% | WaitCalls:27
                            if (key == 'WaitCalls' || key == 'AnswerRate') {
                                $('#' + key).removeClass('threshold');

                                if (key == 'AnswerRate') {
                                    let ar_value;
                                    if (data.data1[key].indexOf('.') > -1) {
                                        ar_value =data.data1[key].split('.')[0];
                                    } else {
                                        ar_value = data.data1[key].replace('%', '');
                                    }

                                    if (ar > Number(ar_value)) {
                                        $('#' + key).addClass('threshold');
                                    }
                                    // const ar_value = data.data1[key].split('.');
                                    // if (ar > Number(ar_value[0])) {
                                    //     $('#' + key).addClass('threshold');
                                    // }
                                    // console.log(`ar = ${ar} | ${data.data1[key]}`);
                                } else {
                                    if (wc < Number(data.data1[key])) {
                                        $('#' + key).addClass('threshold');
                                    }
                                    // console.log(`wc = ${wc} | ${data.data1[key]}`);
                                }
                            }

                            $('#' + key).text(data.data1[key]);
                        }

                        for (const key in data.data2) {
                            // console.log(key + ':' + data.data2[key]);
                            $('#' + key).text(data.data2[key]);
                        }

                        let num = 0;
                        data.data3.forEach(element => {
                            for (const elementKey in element) {
                                // console.log(elementKey + '_' + num + ':' + element[elementKey]);
                                $('#' + elementKey + '_' + num).text(element[elementKey]);
                                if (elementKey == 'State') {
                                    switch (element[elementKey]) {
                                        case 'INIT':
                                            $('#color_' + num).removeClass();
                                            $('#icon_' + num).removeClass();

                                            $('#color_' + num).addClass(`${stateColorClassCommon} icon_init`);
                                            $('#icon_' + num).addClass(`${stateIconClassCommon} fa-keyboard`);
                                            break;
                                        case 'MEAL':
                                            $('#color_' + num).removeClass();
                                            $('#icon_' + num).removeClass();

                                            $('#color_' + num).addClass(`${stateColorClassCommon} icon_meal`);
                                            $('#icon_' + num).addClass(`${stateIconClassCommon} fa-utensils`);
                                            break;
                                        case 'REST':
                                            $('#color_' + num).removeClass();
                                            $('#icon_' + num).removeClass();

                                            $('#color_' + num).addClass(`${stateColorClassCommon} icon_rest`);
                                            $('#icon_' + num).addClass(`${stateIconClassCommon} fa-mug-hot`);
                                            break;
                                        case 'EDUCATION':
                                            $('#color_' + num).removeClass();
                                            $('#icon_' + num).removeClass();

                                            $('#color_' + num).addClass(`${stateColorClassCommon} icon_education`);
                                            $('#icon_' + num).addClass(`${stateIconClassCommon} fa-chalkboard-teacher`);
                                            break;
                                        case 'WORK':
                                            $('#color_' + num).removeClass();
                                            $('#icon_' + num).removeClass();

                                            $('#color_' + num).addClass(`${stateColorClassCommon} icon_work`);
                                            $('#icon_' + num).addClass(`${stateIconClassCommon} fa-laptop`);
                                            break;
                                        case 'CALLING':
                                            $('#color_' + num).removeClass();
                                            $('#icon_' + num).removeClass();

                                            $('#color_' + num).addClass(`${stateColorClassCommon} icon_calling`);
                                            $('#icon_' + num).addClass(`${stateIconClassCommon} fa-phone-volume`);
                                            break;
                                        case 'OFF':
                                            $('#color_' + num).removeClass();
                                            $('#icon_' + num).removeClass();

                                            $('#color_' + num).addClass(`${stateColorClassCommon} icon_off`);
                                            $('#icon_' + num).addClass(`${stateIconClassCommon} text-danger fa-user-slash`);
                                            break;
                                        case 'HANDLING':
                                            $('#color_' + num).removeClass();
                                            $('#icon_' + num).removeClass();

                                            $('#color_' + num).addClass(`${stateColorClassCommon} icon_handling`);
                                            $('#icon_' + num).addClass(`${stateIconClassCommon} fa-pencil-alt`);
                                            break;
                                        case 'IDLE':
                                            $('#color_' + num).removeClass();
                                            $('#icon_' + num).removeClass();

                                            $('#color_' + num).addClass(`${stateColorClassCommon} icon_idle`);
                                            $('#icon_' + num).addClass(`${stateIconClassCommon} fa-phone-rotary`);
                                            break;
                                        default :
                                            $('#color_' + num).removeClass();
                                            $('#icon_' + num).removeClass();

                                            $('#color_' + num).addClass(`${stateColorClassCommon} icon_etc`);
                                            $('#icon_' + num).addClass(`${stateIconClassCommon} fa-grip-horizontal`);
                                            break;
                                    }
                                }
                            }
                            num++;
                        });

                        if (data.data1.Received == '' || data.data1.Received == null) {
                            $('#Received').text('0');
                        }

                        if (data.data1.Answered == '' || data.data1.Answered == null) {
                            $('#Answered').text('0');
                        }

                        // if (data.data1.Abandoned == '' || data.data1.Abandoned == null) {
                        //     $('#Abandoned').text('0');
                        // }

                        if (data.data1.AnswerRate == '' || data.data1.AnswerRate == null) {
                            $('#AnswerRate').text('0.00%');
                            $('#AnswerRate').addClass('threshold');
                        }
                    },
                    timeout: 3000,
                    complete: timeout = setTimeout(function () {
                        poll();
                    }, 5000)

                })
            })();
        });

    </script>
</th:block>

</html>
