<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/total-call.css}">
</th:block>

<section layout:fragment="content" th:class="${season}">
    <div class="contents container-fluid">
        <div class="row r1" th:each="row : ${#numbers.sequence(0,6,2)}"
             th:with="totalCallConst = ${T(com.vdc.board.common.enums.TotalCallConst).values()}">
            <th:block th:each="num : ${#numbers.sequence(0,1)}">
                <div class="col-xs-3">
                    <div th:class="${'subject w' + totalCallConst[row + num].getTitle().replace(' ', '').length()}"
                         th:text="${totalCallConst[row + num].getTitle()}"
                         th:style="${'background-color: ' + season.getColor() + ';'}">총인입
                    </div>
                </div>
                <div class="col-xs-3">
                    <th:block th:switch="${totalCallConst[row + num].getKey()}">
                        <div th:case="AnswerRate" class="value" th:id="${totalCallConst[row + num].getKey()}">0.00%
                        </div>
                        <div th:case="AverageAnsweredWaitTime" class="value"
                             th:id="${totalCallConst[row + num].getKey()}">00:00:00
                        </div>
                        <div th:case="*" class="value" th:id="${totalCallConst[row + num].getKey()}">0</div>
                    </th:block>
                </div>
            </th:block>
        </div>
    </div>
</section>

<th:block layout:fragment="script">
    <script type="text/javascript" th:inline="javascript">

        /*<![CDATA[*/
        let dept = /*[[ ${dept} ]]*/;
        /*]]*/

        /*<![CDATA[*/
        let wc = /*[[ ${wc} ]]*/;
        /*]]*/

        /*<![CDATA[*/
        let ar = /*[[ ${ar} ]]*/;
        /*]]*/

        $(function () {
            (function poll() {
                $.ajax({
                    url: CONTEXT_PATH + '/getTotalCall',
                    method: 'GET',
                    data: {"dept": dept},
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        for (const dataKey in data.data) {
                            // console.log(dataKey + ':' + data.data[dataKey]);

                            // AnswerRate:36.1% | WaitCalls:27
                            if (dataKey == 'WaitCalls' || dataKey == 'AnswerRate') {
                                $('#' + dataKey).removeClass('threshold');

                                if (dataKey == 'AnswerRate') {
                                    const ar_value = data.data[dataKey].split('.');
                                    if (ar > Number(ar_value[0])) {
                                        $('#' + dataKey).addClass('threshold');
                                    }
                                    console.log(`ar = ${ar} | ${data.data[dataKey]}`);
                                } else {
                                    if (wc < Number(data.data[dataKey])) {
                                        $('#' + dataKey).addClass('threshold');
                                    }
                                    console.log(`wc = ${wc} | ${data.data[dataKey]}`);
                                }
                            }

                            $('#' + dataKey).text(data.data[dataKey]);

                        }
                    },
                    timeout: 3000,
                    complete: timeout = setTimeout(function () {
                        poll();
                    }, 5000)

                })
            })();
        });

    </script>
</th:block>
</html>