<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headFragment(param1)">

    <!-- meta tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" initial-scale="1">

    <!-- common css -->
    <link rel="stylesheet" media="screen, print" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/bootstrap.min.css}">
    <th:block layout:fragment="common_css"></th:block>

    <!-- individual css -->
    <link rel="stylesheet" media="screen, print" th:href="@{/css/board.css}">
    <th:block layout:fragment="css"></th:block>

    <!-- context path -->
    <link th:fragment="context-path" id="contextPathHolder"
          th:data-contextPath="${#httpServletRequest.getContextPath()}"/>

    <!-- common js -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/common_board.js}"></script>

    <title th:text="${param1}"></title>

</head>
</html>