/* body */
html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    padding-left: 10px;
    padding-right: 10px;
}



/* header */
header {
    display: flex;
    height: 20vh;
    margin: 0px;
    padding: 0px;
    background-image: url(../img/winter.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    font-size: 70px;
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-family: sans-serif;
    font-weight: bold;
}

/* section */
section {
    height: 70vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.spring::after {
    height: 100%;
    width: 100%;
    content: "";
    /*background-image: url(../img/snowman.jpg), linear-gradient(to top, #eb01a5, white);*/
    /*background: linear-gradient(white 10%, mediumspringgreen);*/
    background: radial-gradient(white 80%, lightpink);
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}
.summer::after {
    height: 100%;
    width: 100%;
    content: "";
    /*background-image: url(../img/snowman.jpg), linear-gradient(to top, #eb01a5, white);*/
    /*background: linear-gradient(white 10%, aqua);*/
    background: radial-gradient(white 80%, royalblue);
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}
.fall::after {
    height: 100%;
    width: 100%;
    content: "";
    /*background-image: url(../img/snowman.jpg), linear-gradient(to top, #eb01a5, white);*/
    /*background: linear-gradient(white 10%, goldenrod);*/
    background: radial-gradient(white 80%, goldenrod);
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}
.winter::after {
    height: 100%;
    width: 100%;
    content: "";
    /*background-image: url(../img/snowman.jpg), linear-gradient(to top, #eb01a5, white);*/
    /*background: linear-gradient(white 10%, mediumblue);*/
    background: radial-gradient(white 80%, darkgray);
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.spring-time::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    background: linear-gradient(lightpink, white, white, white, lightpink);
}

.summer-time::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    background: linear-gradient(royalblue, white, white, white, royalblue);
}

.fall-time::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    background: linear-gradient(goldenrod, white, white, white, goldenrod);
}

.winter-time::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    background: linear-gradient(darkgray, white, white, white, darkgray);
}

#currentDate {
    color: black;
}

.contents {
    width: 100%;
}
.subject {
    text-align: center;
    background-color: #ffcc00;
    font-size: 45px;
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    border-style: groove;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 3px 3px gray;
}
.value {
    text-align: center;
    background-color: white;
/*    font-size: 45px;*/
    border-style: solid;
    border-color: #d3d3d3;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}



/* row */
.row {
    margin: 0;
    padding: 0;
}
.row > * {
    padding-left: 0px;
    padding-right: 0px;
}
.r1,
.r2,
.r3,
.r4,
.r5,
.r6,
.r7 {
    margin-bottom: 7px;
}



/* col */
.col-xs-2 > .subject,
.col-xs-2 > .value,
.col-xs-5 > .subject,
.col-xs-7 > .value {
/*    font-size: 28px;*/
    padding: 0px;
}
.col-xs-3 {
    padding-left: 5px;
    padding-right: 5px;
}
.col-xs-2 {
    padding-left: 5px;
    padding-right: 5px;
}

.col-xs-5,
.col-xs-7 {
    padding: 5px;
}



/* words */
.w2 {
/*    word-spacing: 9rem;*/
    word-spacing: 3.5rem;
}
.w3 {
    word-spacing: 1.5rem;
}
.w4 {
/*    letter-spacing: 0.5rem;*/
    letter-spacing: 0.3rem;
}
.w5 {
    text-indent: -1rem;
    letter-spacing: -0.3rem;
}
.w6 {
    text-indent: -1rem;
/*    letter-spacing: -0.9rem;*/
    letter-spacing: -0.5rem;
/*    font-size: 40px;*/
}




/* background-color */
.row.value {
    background-color: #87CEFA;
}



/* font, align */
.under_box {
    border-style: solid;
    border-color: #d3d3d3;
    border-radius: 15px;
    padding: 10px 10px 5px;
    margin-top: 5px;

    background-color: white;
}

.current_date {
    text-align: center;
    font-size: 3.5rem;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-family: monospace;
    font-weight: bold;
}

@media (min-width: 1280px) {
    header {
        height: 25vh;
        font-size: 75px;
    }

    section {
        height: 75vh;
    }
}
