
header {
    height: 20vh;
    font-size: 60px;
}
section {
    height: 70vh;
}
.subject {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    font-size: 2.8rem;
}
.col_title {
    font-size: 2.8rem;
}
.value {
    display: flex;
    padding: 0px;
    height: 4.5rem;
    font-size: 3.5rem;
    align-items: center;
    justify-content: center;
}

/*.all {*/
/*    background-color: yellow;*/
/*}*/
.spring_all {
    background-color: hotpink;
}
.summer_all {
    background-color: dodgerblue;
}
.fall_all {
    background-color: yellow;
}
.winter_all {
    background-color: lightgrey;
}

.w2 {
    word-spacing: 4.5rem;
}
.w3 {
    text-indent: 1rem;
    letter-spacing: 1.2rem;
}
.w4 {
    letter-spacing: 0.1rem;
}
.w5 {
    font-stretch: ultra-condensed;
}

@media screen and (max-width: 1024px) {
    header {
        height: 18vh;
        font-size: 7.0rem;
    }

    section {
        height: 72vh;
    }

    .subject {
        height: 5.2rem;
        font-size: 2.8rem;
    }

    .value {
        height: 5.2rem;
        font-size: 3.8rem;
    }

    .name {
        font-size: 2.2rem;
    }
    .count {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1152px) {
    header {
        height: 18vh;
        font-size: 7.0rem;
    }

    section {
        height: 72vh;
    }

    .subject {
        height: 6.0rem;
        font-size: 3.2rem;
    }

    .value {
        height: 6.0rem;
        font-size: 4.5rem;
    }

    .name {
        font-size: 2.5rem;
    }
    .count {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1280px) {
    header {
        height: 18vh;
        font-size: 7.0rem;
    }

    section {
        height: 72vh;
    }

    .subject {
        height: 5.0rem;
        font-size: 3.5rem;
    }

    .value {
        height: 5.0rem;
        font-size: 4.5rem;
    }

    .name {
        font-size: 2.5rem;
    }
    .count {
        font-size: 2.5rem;
    }
}

/*@media (min-width: 1280px) {*/
/*    header {*/
/*        height: 20vh;*/
/*        font-size: 6.5rem;*/
/*    }*/

/*    section {*/
/*        height: 70vh;*/
/*    }*/

/*    .subject {*/
/*        height: 5.5rem;*/
/*        font-size: 3.2rem;*/
/*    }*/

/*    .value {*/
/*        height: 5.5rem;*/
/*        font-size: 4.5rem;*/
/*    }*/
/*}*/