
header {
    height: 20vh;
    font-size: 60px;
}
section {
    height: 70vh;
}
.subject {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    font-size: 2.8rem;
}
.col_title {
    font-size: 2.8rem;
}
.value {
    display: flex;
    padding: 0px;
    height: 4.5rem;
    font-size: 3.5rem;
    align-items: center;
    justify-content: center;
}

/*.all {*/
/*    background-color: yellow;*/
/*}*/
.spring_all {
    background-color: hotpink;
}
.summer_all {
    background-color: dodgerblue;
}
.fall_all {
    background-color: yellow;
}
.winter_all {
    background-color: lightgrey;
}

.w2 {
    word-spacing: 4.5rem;
}
.w3 {
    text-indent: 1rem;
    letter-spacing: 1.2rem;
}
.w4 {
    letter-spacing: 0.1rem;
}
.w5 {
    font-stretch: ultra-condensed;
}

@media (min-width: 1280px) {
    header {
        height: 20vh;
        font-size: 6.5rem;
    }

    section {
        height: 70vh;
    }

    .subject {
        height: 5.5rem;
        font-size: 3.2rem;
    }

    .value {
        height: 5.5rem;
        font-size: 4.5rem;
    }
}