header {
    height: 12vh;
    font-size: 5rem;
}
section {
    height: 78vh;
}
.subject {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    font-size: 2.4rem;
}

.value {
    display: flex;
    padding: 0px;
    height: 4rem;
    font-size: 3.2rem;
    align-items: center;
    justify-content: center;
}

.w5 {
    text-indent: -0.7rem;
    letter-spacing: -0.3rem;
}
.w6 {
    text-indent: -0.5rem;
    letter-spacing: -0.5rem;
}

.img {
    text-align: center;
    font-size: 1.2rem;
}
.icon {
    font-weight: bold;
}
.icon_blue {
    /*border: 1px solid white;*/
    /*border-radius: 5px;*/
    /*background: linear-gradient(to top left, blue, white);*/
    color: blue;
}
.icon_meal {
    color: coral;
}
.icon_rest {
    /*color: green;*/
    color: coral;
}
.icon_education {
    /*color: blueviolet;*/
    color: coral;
}
.icon_init {
    /*color: brown;*/
    color: coral;
}
.icon_work {
    /*color: blue;*/
    color: coral;
}
.icon_calling {
    /*color: orange;*/
    color: blue;
}
.icon_handling {
    /*color: deeppink;*/
    color: darkgreen;
}
.icon_off {
    color: gray;
}
.icon_idle {
    /*color: darkkhaki;*/
    color: blueviolet;
}
.icon_etc {
    /*color: bisque;*/
    color: darkkhaki;
}

.name {
    text-align: end;
    font-size: 2.2rem;
}
.count {
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: -0.1rem;
}
.col-xs-2 {
    padding: 3px;
}

.sub1 {
    background-color: #ce0262;
    /*background-color: blueviolet;*/
}

.sub2 {
    background-color: blueviolet;
    /*background-color: darkkhaki;*/
}

.sub3 {
    background-color: blue;
    /*background-color: orange;*/
}

.sub4 {
    background-color: darkgreen;
    /*background-color: deeppink;*/
}

.sub5 {
    background-color: coral;
}

@media screen and (max-width: 1024px) {
    header {
        height: 18vh;
        font-size: 7.0rem;
    }

    section {
        height: 72vh;
    }

    .subject {
        height: 5.2rem;
        font-size: 3.0rem;
    }

    .value {
        height: 5.2rem;
        font-size: 3.8rem;
    }

    .name {
        font-size: 2.2rem;
    }
    .count {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1152px) {
    header {
        height: 18vh;
        font-size: 7.0rem;
    }

    section {
        height: 72vh;
    }

    .subject {
        height: 6.0rem;
        font-size: 3.5rem;
    }

    .value {
        height: 6.0rem;
        font-size: 4.5rem;
    }

    .name {
        font-size: 2.5rem;
    }
    .count {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1280px) {
    header {
        height: 18vh;
        font-size: 7.0rem;
    }

    section {
        height: 72vh;
    }

    .subject {
        height: 5.0rem;
        font-size: 3.5rem;
    }

    .value {
        height: 5.0rem;
        font-size: 4.5rem;
    }

    .name {
        font-size: 2.5rem;
    }
    .count {
        font-size: 2.5rem;
    }
}