header {
    height: 12vh;
    font-size: 5rem;
}
section {
    height: 78vh;
}
.subject {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    font-size: 2.4rem;
}
.value {
    display: flex;
    padding: 0px;
    height: 4rem;
    font-size: 3.2rem;
    align-items: center;
    justify-content: center;
}
.under_title #last_words {
    float: right;
}
.name {
    text-align: end;
    font-size: 2.5rem;
}
.count {
    text-align: center;
    font-size: 2.5rem;
}
#dot {
    color: red;
}
.under_title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4682B4;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 1024px) {
    header {
        height: 18vh;
        font-size: 7.0rem;
    }

    section {
        height: 72vh;
    }

    .subject {
        height: 5.2rem;
        font-size: 3.0rem;
    }

    .value {
        height: 5.2rem;
        font-size: 3.8rem;
    }

    .name {
        font-size: 2.2rem;
    }
    .count {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1152px) {
    header {
        height: 18vh;
        font-size: 7.0rem;
    }

    section {
        height: 72vh;
    }

    .subject {
        height: 6.0rem;
        font-size: 3.5rem;
    }

    .value {
        height: 6.0rem;
        font-size: 4.5rem;
    }

    .name {
        font-size: 2.5rem;
    }
    .count {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1280px) {
    header {
        height: 18vh;
        font-size: 7.0rem;
    }

    section {
        height: 72vh;
    }

    .subject {
        height: 5.0rem;
        font-size: 3.5rem;
    }

    .value {
        height: 5.0rem;
        font-size: 4.5rem;
    }

    .name {
        font-size: 2.5rem;
    }
    .count {
        font-size: 2.5rem;
    }
}

/*@media (min-width: 1280px) {*/
/*    header {*/
/*        height: 15vh;*/
/*        font-size: 5.5rem;*/
/*    }*/

/*    section {*/
/*        height: 75vh;*/
/*    }*/

/*    .subject {*/
/*        height: 5rem;*/
/*        font-size: 3rem;*/
/*    }*/

/*    .value {*/
/*        height: 5rem;*/
/*        font-size: 4.2rem;*/
/*    }*/
/*}*/