<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
    <ul><h1>Board List</h1>
        <li>
            <a th:href="@{/current-date?dept=1&season=1}"><h2>current-date</h2></a>
        </li>
        <li>
            <a th:href="@{/total-call?dept=1&season=1&wc=20&ar=40}"><h2>total-call</h2></a>
        </li>
        <li>
            <a th:href="@{/job-call?dept=1&season=2&wc=20&ar=40}"><h2>job-call</h2></a>
        </li>
        <li>
            <a th:href="@{/team-call?dept=1&season=3&wc=20&ar=40}"><h2>team-call</h2></a>
        </li>
        <li>
            <a th:href="@{/team-counselor?dept=1&season=4&wc=20&ar=40}"><h2>team-counselor</h2></a>
        </li>

    </ul>
</body>
</html>