<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
    <ul><h1>Board List</h1>
        <li>
            <a href="/current-date?dept=3,9,14&season=1"><h2>current-date</h2></a>
        </li>
        <li>
            <a href="/total-call?dept=3,9,14&season=1"><h2>total-call</h2></a>
        </li>
        <li>
            <a href="/job-call?dept=&season=2"><h2>job-call</h2></a>
        </li>
        <li>
            <a href="/team-call?dept=3,9,14&season=3"><h2>team-call</h2></a>
        </li>
        <li>
            <a href="/team-counselor?dept=3,9,14&season=4"><h2>team-counselor</h2></a>
        </li>
        <li>
            <a href="/test-data?dept=17"><h2>test-data</h2></a>
        </li>

    </ul>
</body>
</html>